*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
html , body{
    height: 100%;
    width: 100%;
}

h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
    text-decoration: underline;
}
body{
    background-color: black;
}

.nav{
display: flex;
align-items: center;
justify-content: space-between;
padding: 10px 20px;
background-color: rgb(1, 73, 49);
}

.nav div{
    display: flex;
    align-items: center;
    gap: 40px;
}