*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}



.nav2{
  display: flex;
  gap: 20px;
}

.light{
  background-color: aquamarine;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
}

.dark{
  background-color: cadetblue;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
}
