@import "tailwindcss";


h1{
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-decoration: underline;
    font-weight: 600;
}