*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

button{
    margin: 10px;
}

.page1{
    height: 100vh;
    width: 100%;
    background-color: #111;
}
.page2{
    height: 100vh;
    width: 100%;
    background-color: #222;
}
.page3{
    height: 100vh;
    width: 100%;
    background-color: #333;
}